@import "tailwindcss";


/* hindi font style as we are using in the buddha samyak website  */

.hi-heading {
  font-family: 'Noto Serif Devanagari', serif;
  font-weight: 700;
}
.hi-subheading {
  font-family: 'Noto Serif Devanagari', serif;
  font-weight: 500;
}

.hi-paragraph {
  font-family: 'Noto Sans Devanagari', sans-serif;
}
html[lang="hi"] .hi-auto-heading {
  font-family: 'Noto Serif Devanagari', serif;
  font-weight: 700;
}
html[lang="hi"] .hi-auto-subheading {
  font-family: 'Noto Serif Devanagari', serif;
  font-weight: 500;
}
html[lang="hi"] .hi-auto-paragraph {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

html {
  scroll-behavior: smooth;
}


.cinema-doodle-bg {
  background-image: url('/doodles.jpg');
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.18;
  filter: blur(1.5px);

  -webkit-mask-image: radial-gradient(circle at center, black 45%, transparent 100%);
  mask-image: radial-gradient(circle at center, black 45%, transparent 100%);


  -webkit-mask-size: cover;
  mask-size: cover;


}


@keyframes dropdown-fade-in {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown-fade {
  animation: dropdown-fade-in 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}